* {
    font-family: 'Fira Code', monospace;
    box-sizing: border-box;
}

.darkmode,
.darkmode * {
    color: white;
    background-color: black;
    outline-color: white;
}

.banner>label{
    position: absolute;
    left: 0vw;
    top: 5vh;
    padding: 10px;
    transform: rotate(-45deg);
}

.postbox {
    height: 10vh; 
    width: 50vw;
    text-align: left; 
    resize: none;
}