* {
    font-family: 'Fira Code', monospace;
}

.darkmode,
.darkmode * {
    color: white;
    background-color: black;
    outline-color: white;
}

.banner>label{
    position: absolute;
    left: 0vw;
    top: 5vh;
    padding: 10px;
    transform: rotate(-45deg);
}